
<header>
  <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
      <div class="container">
          <a class="navbar-brand" href="javascript:;" th:href="@{/}">Pessoas</a>
      </div>
  </nav>
</header>

<main role="main">
  <section class="my-4">
    <div class="container">
        <h2>Cadastro de pessoas</h2>
    </div>
  </section>

  <section>
    <div class="container">
      <form  method="post" #frm="ngForm" (ngSubmit)="criar(frm)">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" name="nome"
            class="form-control" placeholder="Nome"
            [(ngModel)]="pessoa.nome" required/>
        </div>
    
        <div class="form-group">
          <label for="sexo">Sexo</label>
          <select class="form-control" name="sexo" id="sexo" [(ngModel)]="pessoa.sexo" >
            <option>Selecione...</option>
            <option type="feminino" name="feminino" value="feminino">Feminino</option>
            <option  type="masculino" name="masculino" value  ="masculino">Masculino</option>
          </select>  
      </div>

      <div class="form-group">
        <label for="email">E-mail</label>
        <input  type="email" id="email" name="email"
          class="form-control" placeholder="E-mail"
          [(ngModel)]="pessoa.email" required/>
      </div>  

      <div class="form-group">
        <label for="dtnasc">Data nascimento</label>
        <input type="date" id="dtnasc" name="dtnasc"
          class="form-control" placeholder="Data nascimento"
          [(ngModel)]="pessoa.dtnasc" required/>
      </div>

      <div class="form-group">
        <label for="naturalidade">Naturalidade</label>
        <input type="naturalidade" id="naturalidade" name="naturalidade"
            class="form-control" placeholder="Naturalidade"
            [(ngModel)]="pessoa.naturalidade" required/>
        </div>
      
        
      <div class="form-group">
        <label for="nacionalidade">Nacionalidade</label>
        <input type="nacionalidade" id="nacionalidade" name="nacionalidade"
            class="form-control" placeholder="Nacionalidade"
            [(ngModel)]="pessoa.nacionalidade" required/>
      </div>

      <div class="form-group">
          <label for="cpf">CPF</label>
          <input maxlength="11" type="cpf" id="cpf" name="cpf"
              class="form-control" placeholder="CPF"
              [(ngModel)]="pessoa.cpf" required/>
          </div>
        

        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </div>
  </section>

  <section class="mt-5">
    <div class="container">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="thead-light text-center">
            <tr>
              <th>Código</th>
              <th class="w-50">Nome</th>
              <th class="w-25">Sexo</th>
              <th class="w-25">E-mail</th>
              <th class="w-25">Data nascimento</th>
              <th class="w-25">Naturalidade</th>
              <th class="w-25">Nacionalidade</th>
              <th class="w-25">CPF</th>
              <th class="w-25">Ações</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let p of pessoas">
              <td class="text-center w-10">{{p.codigo}}</td>
              <td>{{p.nome}}</td>
              <td>{{p.sexo}}</td>
              <td>{{p.email}}</td>
              <td>{{p.dtnasc}}</td>
              <td>{{p.naturalidade}}</td>
              <td>{{p.nacionalidade}}</td>
              <td>{{p.cpf}}</td>
              <button type="button" (click)="updatePessoa(p.codigo)" class="btn btn-secundary">Alterar</button>
              <button type="button" (click)="delete(p.codigo)"class="btn btn-danger">Excluir</button>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</main>

