
<header>
  <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
      <div class="container">
          <a class="navbar-brand" href="javascript:;" th:href="@{/}">Pessoas</a>
      </div>
  </nav>
</header>

<main role="main">
  <section class="my-4">
    <div class="container">
        <h2>Alteração de pessoas</h2>
    </div>
  </section>

  <section>
    <div class="container">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" name="nome"
            class="form-control" id="nome"
            [(ngModel)]="pessoa.nome" required/>
        </div>
    
        <div class="form-group">
          <label for="sexo">Sexo</label>
          <select class="form-control" name="sexo" id="sexo" [(ngModel)]="pessoa.sexo" >
            <option>Selecione...</option>
            <option type="feminino" name="feminino" value="feminino">Feminino</option>
            <option  type="masculino" name="masculino" value  ="masculino">Masculino</option>
          </select>  
      </div>

      <div class="form-group">
        <label for="email">E-mail</label>
        <input  type="text" id="email" name="email"
          class="form-control"
          [(ngModel)]="pessoa.email" required/>
      </div>  

      <div class="form-group">
        <label for="dtnasc">Data nascimento</label>
        <input type="date" id="dtnasc" name="dtnasc"
          class="form-control" placeholder="Data nascimento"
          [(ngModel)]="pessoa.dtnasc" required/>
      </div>

      <div class="form-group">
        <label for="naturalidade">Naturalidade</label>
        <input type="text" id="naturalidade" name="naturalidade"
            class="form-control"
            [(ngModel)]="pessoa.naturalidade" required/>
        </div>
      
        
      <div class="form-group">
        <label for="nacionalidade">Nacionalidade</label>
        <input type="text" class="form-control" id="nacionalidade" name="nacionalidade"
            [(ngModel)]="pessoa.nacionalidade" required/>
      </div>

      <div class="form-group">
          <label for="cpf">CPF</label>
          <input class="form-control" maxlength="11" type="text" id="cpf" name="cpf"
              [(ngModel)]="pessoa.cpf" required/>
          </div>
        

        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </div>
  </section>
</main>

