
<header>
  <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
      <div class="container">
          <a class="navbar-brand" href="javascript:;" th:href="@{/}">Unidades</a>
      </div>
  </nav>
</header>

<main role="main">
  <section class="my-4">
    <div class="container">
        <h2>Cadastro de unidades</h2>
    </div>
  </section>

  <section>
    <div class="container">
      <form method="post" #frm="ngForm" (ngSubmit)="criarUnidade(frm)">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" name="nome"
            class="form-control" placeholder="Nome"
            [(ngModel)]="unidade.nome" required/>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </div>
  </section>

  <section class="mt-5">
    <div class="container">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="thead-light text-center">
            <tr>
              <th>Código</th>
              <th class="w-50">Nome</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let u of unidades">
              <td class="text-center w-25">{{u.codigo}}</td>
              <td>{{u.nome}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</main>